@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #dddddd;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px;
    box-shadow: 0px 3px 7px #0000001a;
    background-color: #6abbf1;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
}

section {
    height: 400px;
    width: 400px;
    margin: 30px auto;
    padding: 20px;

    font-family: 'Poppins', sans-serif;
    color: #333333;

    background-color: #f1f1f1;

    box-shadow: 0px 3px 7px #0000001a;

    border-radius: 10px;
}

.admin--title {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

form {
    margin: 10px;
    font-weight: 600;
}

.admin--textfield {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 3px;
    border: 1px solid #999999;
}

.admin--button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    font-weight: 600;
    font-size: 15px;

    background: #797979;
    border-radius: 5px;
    color: white;
}



.admin--signuptext {
    padding: 10px 0px;
    text-align: center;
}