
* {
  font-family: 'Poppins', sans-serif;
}

.quiz-containerp {
  box-shadow: 0px 3px 7px #0000001a;
  height: auto;
  width: 400px;
  margin: 30px auto;
  padding: 20px;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #333333;
  text-align: center;

  background-color: #f1f1f1;

  box-shadow: 0px 3px 7px #0000001a;

  border-radius: 10px;
}


.score-section {
  font-size: 24px;
  text-align: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 50px 0px;
}


.answer-button {
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 10px #00000033;
  border: 1px solid #4e4e4e;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}

.answer-button:hover {
  background-color: #e9e683;
}

.answer-button:focus {
  outline: none;
}

.correct {
  background-color: #2f922f;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 10px #00000033;
  border: 1px solid #4e4e4e;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 10px;
  font-weight: bold;
}

.incorrect {
  background-color: #ff3333;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 10px #00000033;
  border: 1px solid #4e4e4e;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}

.answer-button:disabled,
button[disabled]{

  border: 1px solid #999999;

  color: #fffefe;

}

#countdown {

  position: relative;

  margin: auto;

  height: 40px;

  width: 40px;

  text-align: center;

}



#countdown-number {

  color: rgb(0, 0, 0);

  display: inline-block;

  line-height: 40px;

}



svg {

  position: absolute;

  top: 0;

  right: 0;

  width: 40px;

  height: 40px;

  transform: rotateY(-180deg) rotateZ(-90deg);

}



svg circle {

  stroke-dasharray: 113px;

  stroke-dashoffset: 0px;

  stroke-linecap: round;

  stroke-width: 2px;

  stroke: rgb(0, 0, 0);

  fill: none;

}